@font-face {
    font-family: Archivo;
    src: url(https://fonts.google.com/specimen/Archivo?query=archiv);
}

/* Global styles ---------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Archivo, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

h1 {
    font-size: clamp(35px, 5vw, 60px)
}

h2 {
    font-size: clamp(24px, 3vw, 40px)
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h1, h2, h3 {
    color: var(--white);
    font-weight: 600;
}

p {
    color: var(--white);
}

.cta-1 {
    display: block;
    background-color: var(--orange);
    padding: 10px;
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    border: solid 3px var(--orange);
    transition: transform 0.2s;
    margin-top: 20px;
}

.cta-1:hover {
    background-color: white;
    border: solid 3px var(--orange);
    transform: scale(1.1,1.1);
}

.color-wrapper {
   background-image: linear-gradient(to bottom right, var(--black-blue), var(--dark-blue));
}

#logo.img {
    scale: 0.5;
}

a:visited, a:hover, a:focus {
    text-decoration: none;
}
/* CSS Variables ---------------------------------------------- */

:root {
    --black-blue: #151B26;
    --white: #FFF;
    --dark-blue: #232A40;
    --light-blue: #0B6AA5;
    --grey: #E4E4E4;
    --orange: #FF8C1A;
}


/* Global styles ---------------------------------------------- */

#logo {
    max-height: 100px;
    display: block;
}


.add-picture-type-1 {
    max-width: 100%;
    display: block;
}

.add-picture-type-2, .add-picture-type-3 {
    max-width: 100%;
    display: block;
}



/* Header ---------------------------------------------- */

header {
    min-height: 80vh;
    margin: 0 auto;
    background-image: url(images/pexels-juan-733475.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.page-wrapper-1 {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px 20px;
}

.content-wrapper-1 {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.content-wrapper-1 {
    padding: 20px 0px;
    max-width: 900px;
}

/* Nav  ---------------------------------------------- */

.navbar {
    display: flex;
    max-height: 100px;
    border: 1px solid white;
    max-width: 1500px;
    margin: 0 auto;
    text-align: right;
}

nav {
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--white);
}

nav ul {
    flex: 1;
}

nav li {
    display: inline-block;
    margin: 10px;
    color: var(--white);
}


/* Main  ---------------------------------------------- */

section h1, section h2 {
    margin: 15px 0px;
}

.section-1 {
    background-image: linear-gradient(to bottom right, #052E48, #0B6AA5);
    padding: 40px 0px;
}

.content-wrapper-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-wrapper-2-box-2 {
    display: flex;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.3);
}

.content-wrapper-2-box-1, .content-wrapper-2-box-2 {
    max-width: 650px;
}

.content-wrapper-2-box-2-box-1 {
    background-color: var(--white);
    max-width: 300px;
    padding: 15px;
}

.content-wrapper-2-box-2-box-1 p {
    color: black;
    margin: 15px 0px;
}

/* Section-1  ---------------------------------------------- */

.content-wrapper-2-box-1 p {
    margin: 0px 0px 40px 0px;
}

/* Section-2  ---------------------------------------------- */

.section-2 {
    padding: 40px 0px;
}

.flex-container-1 {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.flex-container-2 {
    display: flex;
    max-width: 1500px;
    justify-content: space-between;
    margin: 20px auto;
}

.add-big {
    max-width: 700px;
    margin: 40px 10px;
}

.add-big-box-2 {
    margin: 20px 0px;
}

.add-small {
    max-width: 400px;
    margin: 0px 20px 40px;
}


.add-small h3, .add-small p {
    margin: 15px 0px;
}

.add-big img, .add-small img {
    border: 1px solid white;
}

.add-big a, .add-small a {
    text-decoration: none;
}

.add-big:hover, .add-small:hover {
    color: white;
    text-decoration: underline;
    transform: translateY(-5px);
}

.add-big, .add-small {
    transition: transform 0.5s;
    border: 1px solid white;
}
   
/* Footer  ---------------------------------------------- */

.flex-container-3 {
    border-top: 1px solid white;
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.flex-container-3 ul {
    list-style: none;
    color: white;
    line-height: 32px;
    padding: 20px;
}


/* Media queries  ---------------------------------------------- */

@media screen and (max-width: 900px) {


    .flex-container-1 {
        flex-direction: column;
    }

    .add-big {
        margin: 20px 20px auto;
        max-width: 100%;

    }

    .flex-container-2 {
        margin: 20px;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .add-small {
        display: flex;
        max-width: 100%;
        margin: 0px 0px 20px;
    }

    .add-small-box-2 {
        padding: 10px;
        width: 100%;
    }


    .add-small-box-2 > :nth-child(2) {
        display: none;
    }

    .add-picture-type-3 {
        max-height: 130px;
    }

}

@media screen and (max-width: 700px) {

    .content-wrapper-2-box-2-box-1 {
        display: none;
    }

    .content-wrapper-2 {
        max-width: 90%;
    }

    .add-picture-type-1 {
    }




}


@media screen and (max-width: 450px) {

    .add-small {
        flex-direction: column;
    }

    .add-picture-type-3 {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    .flex-container-3 {
        flex-direction: column;
    }



}